html{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-weight: 400;
}

header{
       display: flex;
       justify-content: space-between;
       margin: 0 3rem;
}

nav{
    width: 20rem;
    margin-top: 1rem;
    margin-right: 3rem;
}

ul{
       display: flex;
       justify-content: space-between;
}

li{
       list-style: none;
       font-size: 1.5rem;
}

a{
       text-decoration: none;
       color: black;
}


.showcase-img{
       width: 95vw;
       margin : 1rem
}

article {
       display: flex;
       margin : 1.5rem
}

.content{
       text-align:center ;
       font-size: 1.5rem;
       margin-right: 2rem;
}

footer{
       background-color: black;
       color:white;
       display: flex;
       justify-content: center;
       height: 4rem;
       align-items: center;
       font-size: 1.5rem;
}