* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.toolbox-cont {
  height: 5rem;
  background-color: grey;
  display: flex;
  align-items: center;
}

.toolbox-cont > * {
  margin-left: 4rem;
}

.toolbox-priority-cont {
  height: 3.5rem;
  width: 18rem;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.action-btn-cont{
       height:3.5rem ;
       width:8rem ;
       background-color: yellow;
       display:flex
}

.action-btn-cont>*{
       display: flex;
       justify-content: center;
       width: 50%;
       font-size: 2rem;
       align-items: center;

}

.color {
  height: 1.5rem;
  width: 3rem;
}

.light_pink {
  background-color: lightpink;
}

.light_green {
  background-color: lightgreen;
}

.light_blue {
  background-color: lightblue;
}

.black {
  background-color: black;
}
